<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Halfdan's Portfolio</title>
        <link rel="stylesheet" href="style.css">
        <meta name="author" content="Halfdan Sand Christensen">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>

        <header class="header" id="home">
            <h1>Welcome to my portfolio!</h1>
            <nav>
                <ul class="nav-menu">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about-me">About Me</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#my-work-experience">Work Experience</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#references">References</a></li>
                </ul>
            </nav>
        </header>

        <main class="main-layout">
            <aside class="sidebar left-sidebar"></aside>

            <section id="about-me">
                <div class="container">
                    <h2 class="title">About Me</h2>
                    <img class="selfie" src="../Resources/Images/Halfdan.jpg" alt="Picture of Me, Halfdan">
                    <article class="about-me">
                        <p>Jeg er 29 år og bor på Frederiksberg, efter at have boet i Tokyo af to omgange.
                            Hvor jeg har studeret Japansk og arbejdet part-time.
                            jeg afsluttede grundforløbet 2. del Data- og kommunikationsuddannelsen 10/1/2025 og
                            Jeg er nu klar til min første læreplads på min ønske uddannelse som programmør.</p>
                    </article>
                </div>
            </section>
            <br>
            <section id="skills">
                <div class="container">
                    <h2 class="title">Skills and Competences</h2>
                    <article class="skills">
                        <p>
                            Jeg har arbejdet med Java, Spring Framework, PostgreSQL, Git og C.
                            På studiet har jeg arbejdet med C#, HTML, CSS og Javascript.
                            Jeg har også kendskab til både Linux og Windows.
                            Jeg er nysgerrig og engageret og nyder at lære nye teknologier både i
                            og udenfor arbejdstid, og synes det er sjovt. Lige nu læser jeg om design patterns.
                        </p>
                        <p>
                            Sprog:<br>
                            Dansk: modersmål<br>
                            Engelsk: flydende i skrift og tale<br>
                            Japansk: flydende i skrift og tale

                        </p>
                    </article>
                </div>
            </section>
            <br>
            <section id="my-work-experience">
                <div class="container">
                    <h2 class="title">Work Experience</h2>
                    <article class="work-experience">
                        <p>Here you will find my CV click the picture below to download my CV</p>
                        <br>
                        <a href="../Resources/Downloadable/cv-halfdan.pdf" download>
                            <img class="cv" src="../Resources/Images/halfdan-cv.PNG" alt="picture of my cv" >
                        </a>
                    </article>
                </div>
            </section>
            <br>
            <section id="projects">
                <div class="container">
                    <h2 class="title">Projects</h2>
                    <article class="projects">
                        <p>Text about my projects</p>
                    </article>
                </div>
            </section>
            <br>
            <section id="references">
                <div class="container">
                    <h3 class="title">References</h3>
                    <p>
                        Transformeren:<br>
                        Pernille Werth Larsen<br>
                        Telefon: +45 24 35 94 99<br>
                        Email: bj3h@kk.dk
                    </p>
                </div>
            </section>
            <br>

            <aside class="sidebar right-sidebar"></aside>
        </main>

    </body>

    <footer id="contact">
        <ul class="contact-list">
            <li><a href="mailto:halfdansc@gmail.com">halfdansc@gmail.com</a></li>
            <li><a href="https://github.com/HelloHaruSystem/">Halfdan's Github</a></li>
            <li><span>TLF: +45 93 90 32 99</span></li>
        </ul>
    </footer>

</html>