body {
    background-color: lightcyan;
    margin: 0 auto;
    min-height: 100vh;
}

.header {
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
    padding-top: 2px; /*body takes the full height of viewport*/

    box-shadow: 0 5px 10px 0 #323899;
}

.header h1 {
    font-family: "Audiowide", sans-serif;
}

a {
    color: #000000;
}

p {
    color: #333333;
    font-family: "Funnel Sans", serif;
    padding: 0 25px;
}

.header a,
.nav-menu a {
    text-decoration: none;
}

.nav-menu {
    list-style: none;
    background: #FFEBCD;
    overflow: hidden;
    margin: 30px auto;
    padding: 0 20px;
    border: 1px solid #466995;

    display: flex;
    justify-content: center;
    border-radius: 20px;
    flex-wrap: wrap; /* makes elements wrap onto the next line*/
}

.nav-menu li {
    font-size: 16px;
    font-weight: 300;
    padding: 14px 16px;
    display: block;
    font-family: "Limelight", sans-serif;
}

.nav-menu li:hover {
    background-color: #04AA6D;
}

main {
    padding-bottom: 50px;
    margin: 0 50px;
}

.container {
    background-color: #ffffff;
    width: 50%;

    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    border: 3px #000000;
    border-radius: 15px;
    padding: 0 5px;
    margin: 0 15px 25px;

    box-shadow: 10px 10px #663399;
}

.parent {
    display: flex;
}

.child-div {
    width: 50%;
}

section {
    display: flex;
}

.title {
    font-family: "Sour Gummy", serif;
}

img {
    width: 150px;
    height: auto;
}

.selfie {
    border: solid 1px #000000;
    border-radius: 10px;
}

.cv {
    padding: 0 0 10px 0;
    border-radius: 10px;
}

.outside-link {
    color: #0000ff;
}

.outside-link:hover {
    color: #9ACD32;
}

.references {
    width: 100%;
}

#references p {
    text-align: center;
    font-size: small;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFEBCD;
    border: 1px solid #466995;
    text-align: center;
}

.contact-list {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.contact-list li a:hover {
    color: #0000ff;
}

/* media query this code will run with a screen under 800px width */
@media screen and (max-width: 800px) {
    body {
        background-color: #ff6347;
    }

    section {
        flex-direction: column;
    }

    .container {
        width: 100%;
        padding: 0;
        align-items: center;
    }

}